{% for ring in thumbs %}
<div id="ring-{{ ring.urltitle }}" class="jg-item" title="{{ ring.title }}">

    <a href="/ring/{{ ring.urltitle }}" title="{{ ring.title }}">
        <img class="gallery-image" alt="$ {{ ring.price }}" src="http://cdn.ring.nz/{{ zutils.urlencode(fixtures.getCompanyById(ring.company_id).name) }}/{{ ring.urltitle }}.jpg"
             onerror="APP.thumbFallback(this, '{{ ring.image }}')"/>
    </a>
    <div class="hidden-detail" style="display: none">
        <paper-icon-button class="close-icon" icon="clear" title="clear" onclick="APP.goto('/'); return false;"></paper-icon-button>

        <a class="ring-link" href="{{ ring.url }}" target="_blank">{{ ring.title }}</a>
        <p class="ring-description">
            {{ ring.description }}
        </p>
        <p class="ring-company">{{ fixtures.getCompanyById(ring.company_id).name }}</p>
    </div>
</div>

{% endfor %}
