@import 'variables';

//@import "compass";

body {
  background: #fafafa;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

h1 {
  color: $main-color;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: #EEEEEE;
}

core-toolbar {
  background-color: #fff;
}

.main-core-toolbar {
  color: #FAFAFA;
  background-color: $secondary-color;
}

/// Justified Gallery

.justified-gallery > a > .caption,
.justified-gallery > div > .caption,
{
  opacity: .7 !important;
  min-height: 32px;
  padding: 16px 0px 0px 16px;
  margin: 2px;
  font-size: 16px;
  font-weight: 500;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  background-color: $secondary-color;

}

/// Nst Slider

.nstSlider {
  width: 195px;
  background-color: $secondary-color;
  border: 2px solid gray;
  margin: 23px;

  .bar,
  .leftGrip,
  .rightGrip,
  {
    background-color: white;
  }
  .leftGrip,
  .rightGrip,
  {
    border: 1px solid gray;
    top: -1px;
  }

  .bar {
    opacity: 0.7;
  }

}
.grip-label {
  top: -11px;
  right: -10px;
}
