doctype html
html
    head
        title= title

        include global/jsincludes
        include global/cssincludes

    body
        .main-header
            include header
        #main-content.main-content
            block content

